.show-post-date {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 100px;
}

.post-category {
  margin: 20px 80px;
}

.post-date {
  margin: 20px 80px;
}

.post-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.title {
  font-size: 20xp;
  font-weight: bolder;
  width: 60vw;
  padding: 10px;
  text-align: center;
  padding: 0.5em 1em;
  border: double 5px #4ec4d3;
}
   
.title:first-letter {
  font-size: 200%;
  color: #000fff;
}

.show-post-img-content {
  text-align: center;
}

.show-post-images {
  padding: 50px ;
  width: 70vw;
  height: 60vh;

}

.post-explain-box {
  background-color: #ffffff;
  position: relative;
  margin: 2em 0;
  padding: 25px 10px 7px;
  border: solid 2px #FFC107;
  width: 70vw;
  height: auto;
}

.post-explain-box .box-title {
  position: absolute;
  display: inline-block;
  top: -2px;
  left: -2px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #FFC107;
  color: #ffffff;
  font-weight: bold;
}

.post-explain-box p {
  margin: 0; 
  padding: 0;
}

.content {
  margin: 20px;
  background: #fff;
  border: 1px solid #D7D7D7;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -ms-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 13px;
  padding: 10px;
  height: auto;
  width: 70vw;
}

.content p {
  margin: 0; 
  padding: 0;
}

.study-time{
  background: #104300;
  margin: 1em 0;
  padding: 1em;
  border: 8px solid #a60;
  box-shadow: 2px 2px 4px #999, 2px 2px 2px #020 inset;
  margin-bottom: 80px;
  margin-top: 100px;
}

.study-time p{
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 0 0 2px #fff;
}

.post-edit-btn {
  display: inline-block;
  padding: 20px 50px;
  text-decoration: none;
  color: #67c5ff;
  border: dashed 1px #67c5ff;
  background: #f2fcff;
  border-radius: 3px;
  transition: .4s;
}

.post-edit-btn:hover {
  background: #cbedff;
  color: #FFF;
}

.post-destroy-btn {
  display: inline-block;
  padding: 20px 50px;
  text-decoration: none;
  color: #67c5ff;
  border: dashed 1px #67c5ff;
  background: #f2fcff;
  border-radius: 3px;
  transition: .4s;
}

.post-destroy-btn:hover {
  background: #cbedff;
  color: #FFF;
}

.post-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}

.container {
  margin: 20px;
  padding: 30px;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}

.comment-text-box {
  background: #fff;
  border: 1px solid #D7D7D7;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -ms-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 13px;
  padding: 10px;
  height: 80px;
  width: 60vw;
  margin-top: 100px;
}

.comment-send-btn {
  color:black;
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  width: 60vw;
  
}

.comments {
  margin: 20px;
  background: #fff;
  border: 1px solid #D7D7D7;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -ms-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 15px;
  padding: 10px;
  height: 200px;
  width: 60vw;
  text-align: left;
}
